{% extends 'base.html.twig' %}

{% block title %}CarCard{% endblock %}

{% block body %}
    <h1>CarCard</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car_card.id }}</td>
            </tr>
            <tr>
                <th>ReportingMark</th>
                <td>{{ car_card.reportingMark }}</td>
            </tr>
            <tr>
                <th>CarNumber</th>
                <td>{{ car_card.carNumber }}</td>
            </tr>
            <tr>
                <th>AarType</th>
                <td>{{ car_card.aarType }}</td>
            </tr>
            <tr>
                <th>LengthCapacity</th>
                <td>{{ car_card.lengthCapacity }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ car_card.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ car_card.createdAt ? car_card.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ car_card.updatedAt ? car_card.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('car_card_index') }}">back to list</a>

    <a href="{{ path('car_card_edit', {'id': car_card.id}) }}">edit</a>

    {{ include('car_card/_delete_form.html.twig') }}
{% endblock %}