{% for field in form.fields %}
    <div
            style="top:{{ field.field.top / constant('App\\Paperwork\\Form\\CarCardForm::HEIGHT') * 100 }}%;
                    left: {{ field.field.left / constant('App\\Paperwork\\Form\\CarCardForm::WIDTH') * 100 }}%;
                    height: {{ field.field.height / constant('App\\Paperwork\\Form\\CarCardForm::HEIGHT') * 100 }}%;
                    width: {{ field.field.width / constant('App\\Paperwork\\Form\\CarCardForm::WIDTH') * 100 }}%;
                    "
            class="{{ field.field|class_for_field }}">
        {{ field.data|field_label_for_print }}
    </div>
{% endfor %}
