{% for field in form.fields %}
    <div
            style="top:{{ field.field.top / constant('App\\Paperwork\\Form\\BaseForm::HEIGHT') * 100 }}%;
                    left: {{ field.field.left / constant('App\\Paperwork\\Form\\BaseForm::WIDTH') * 100 }}%;
                    height: {{ field.field.height / constant('App\\Paperwork\\Form\\BaseForm::HEIGHT') * 100 }}%;
                    width: {{ field.field.width / constant('App\\Paperwork\\Form\\BaseForm::WIDTH') * 100 }}%;"
            class="{{ field.field|class_for_field }}">
        {{ field.data|field_label_for_print }}
    </div>
{% endfor %}
{% for line in form.lines if line.type == constant('App\\Paperwork\\Line\\LineTypes::VERTICAL') %}
    <div style="top:{{ line.top / constant('App\\Paperwork\\Form\\BaseForm::HEIGHT') * 100 }}%; left: {{ line.left / constant('App\\Paperwork\\Form\\BaseForm::WIDTH') * 100 }}%; height:{{ line.height / constant('App\\Paperwork\\Form\\BaseForm::HEIGHT') * 100 }}%;" class="{{ line|class_for_line }}"></div>
{% endfor %}
{% for line in form.lines if line.type == constant('App\\Paperwork\\Line\\LineTypes::HORIZONTAL') %}
    <div style="top:{{ line.top / constant('App\\Paperwork\\Form\\BaseForm::HEIGHT') * 100 }}%; left: {{ line.left / constant('App\\Paperwork\\Form\\BaseForm::WIDTH') * 100 }}%; width:{{ line.width / constant('App\\Paperwork\\Form\\BaseForm::WIDTH') * 100 }}%;" class="{{ line|class_for_line }}"></div>
{% endfor %}
