{% extends 'base.html.twig' %}

{% block title %}LegacyIndustry index{% endblock %}

{% block body %}
    <h1>LegacyIndustry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Era</th>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th>ReportingMarks</th>
                <th>ShipReceive</th>
                <th>Commodity</th>
                <th>Stcc</th>
                <th>Reciprocal</th>
                <th>Source</th>
                <th>ExternalSource</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for legacy_industry in legacy_industries %}
            <tr>
                <td>{{ legacy_industry.id }}</td>
                <td>{{ legacy_industry.era }}</td>
                <td>{{ legacy_industry.name }}</td>
                <td>{{ legacy_industry.city }}</td>
                <td>{{ legacy_industry.state }}</td>
                <td>{{ legacy_industry.reportingMarks }}</td>
                <td>{{ legacy_industry.shipReceive }}</td>
                <td>{{ legacy_industry.commodity }}</td>
                <td>{{ legacy_industry.stcc }}</td>
                <td>{{ legacy_industry.reciprocal }}</td>
                <td>{{ legacy_industry.source }}</td>
                <td>{{ legacy_industry.externalSource }}</td>
                <td>
                    <a href="{{ path('legacy_industry_show', {'id': legacy_industry.id}) }}">show</a>
                    <a href="{{ path('legacy_industry_edit', {'id': legacy_industry.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('legacy_industry_new') }}">Create new</a>
{% endblock %}