{% extends 'base.html.twig' %}

{% block title %}Waybill index{% endblock %}

{% block body %}
    <h1>Waybill index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>FromAddress</th>
                <th>ToAddress</th>
                <th>Shipper</th>
                <th>Consignee</th>
                <th>StopAt</th>
                <th>StopAt2</th>
                <th>AarClass</th>
                <th>InstructionsExceptions</th>
                <th>RouteVia</th>
                <th>LadingQuantity</th>
                <th>LadingDescription</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for waybill in waybills %}
            <tr>
                <td>{{ waybill.id }}</td>
                <td>{{ waybill.number }}</td>
                <td>{{ waybill.fromAddress }}</td>
                <td>{{ waybill.toAddress }}</td>
                <td>{{ waybill.shipper }}</td>
                <td>{{ waybill.consignee }}</td>
                <td>{{ waybill.stopAt }}</td>
                <td>{{ waybill.StopAt2 }}</td>
                <td>{{ waybill.aarClass }}</td>
                <td>{{ waybill.instructionsExceptions }}</td>
                <td>{{ waybill.routeVia }}</td>
                <td>{{ waybill.ladingQuantity }}</td>
                <td>{{ waybill.ladingDescription }}</td>
                <td>{{ waybill.createdAt ? waybill.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ waybill.updatedAt ? waybill.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('waybill_show', {'id': waybill.id}) }}">show</a>
                    <a href="{{ path('waybill_edit', {'id': waybill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('waybill_new') }}">Create new</a>
{% endblock %}