{% for field in form.fields %}
    <div
            style="top:{{ field.field.top / page.itemHeight * 100 }}%;
                    left: {{ field.field.left / page.itemWidth * 100 }}%;
                    height: {{ field.field.height / page.itemHeight * 100 }}%;
                    width: {{ field.field.width / page.itemWidth * 100 }}%;"
            class="{{ field.field.id }} {{ field.field|class_for_field }}">
        {% if field.field.id in ['loadingSpotData'] %}
            {{ field.data }}
        {% else %}
            {{ field.data|field_label_for_print }}
        {% endif %}
    </div>
{% endfor %}
{% for line in form.lines if line.type == constant('App\\Paperwork\\Line\\LineTypes::VERTICAL') %}
    <div style="top:{{ line.top / page.itemHeight * 100 }}%; left: {{ line.left / page.itemWidth * 100 }}%; height:{{ line.height / page.itemHeight * 100 }}%;" class="{{ line|class_for_line }}"></div>
{% endfor %}
{% for line in form.lines if line.type == constant('App\\Paperwork\\Line\\LineTypes::HORIZONTAL') %}
    <div style="top:{{ line.top / page.itemHeight * 100 }}%; left: {{ line.left / page.itemWidth * 100 }}%; width:{{ line.width / page.itemWidth * 100 }}%;" class="{{ line|class_for_line }}"></div>
{% endfor %}
